@page "/counter"
@inject CounterService CounterService
@rendermode InteractiveServer


<h3>Counter Component</h3>
<p>Current count: @CounterService.Count</p>
<button @onclick="CounterService.IncrementCount">Increment</button>
