@page "/contactlist"
<h3>Contact List</h3>

<ContactForm OnContactAdded="AddContact" />

<ul>
    @foreach (var contact in contacts)
    {
        <li>@contact.Name (@contact.Email): @contact.Message</li>
    }
</ul>

@code {
    private List<Contact> contacts = new List<Contact>();

    private void AddContact(Contact newContact)
    {
        contacts.Add(newContact);
    }
}


