@page "/parent-modal"

<button @onclick="ShowModal">Open Modal</button>

<ModalDialog IsVisible="@isModalVisible" OnClose="HandleModalClose">
    <b>This is content is shown within the ModalDialog!!!</b>
</ModalDialog>

@code {
    private bool isModalVisible = false;

    private void ShowModal()
    {
        isModalVisible = true;
        StateHasChanged();
    }

    private void HandleModalClose(bool isVisible)
    {
        isModalVisible = isVisible;
    }
}
