@page "/parent-simple-button";
<h3>ParentComponentSimpleButton</h3>

<SimpleButton ButtonText="Click me" OnClick="ShowMessage" />

<p>@Message</p>

@code {
    private string Message;

    private void ShowMessage()
    {
        Message = "Button clicked";
    }
}
