@inherits LayoutComponentBase

<div class="page">
    <div>Current theme: @Theme</div>
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    [CascadingParameter]
    public string Theme {get;set;}
}
